{% extends 'includes/layout.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NTU-SPRE</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
    <div style="display: flex;">
        <!-- Left Side: Sliders -->
        <div style="flex: 1; padding: 20px;">
            <h5 align="center">Parameters</h5>
            a: <span id="a-label"></span> &nbsp &nbsp
            <input type="range" id="a" min="-10" max="10" value="1" step="0.1"><br><br>
            b: <span id="b-label"></span> &nbsp &nbsp
            <input type="range" id="b" min="-10" max="10" value="0" step="0.1"><br><br>
            c: <span id="c-label"></span> &nbsp &nbsp
            <input type="range" id="c" min="-10" max="10" value="0" step="0.1"><br><br>
            d: <span id="d-label"></span> &nbsp &nbsp
            <input type="range" id="d" min="-10" max="10" value="0" step="0.1"><br><br>
        </div>

        <!-- Right Side: Chart -->
        <div style="flex: 3; padding: 20px;">
            <h5 align="center">Graph visualization</h5>
            <canvas id="chart"></canvas>
        </div>
    </div>
</body>
</html>
{% endblock %}